@CHARSET "UTF-8";

::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

p {
	height:22px;
	line-height:22px;
}

p.high {
	height:40px;
	line-height:40px;
}

ul, ol, li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 120%;
	font-weight: normal;
	margin: 10px 0;
	padding: 10px;
}

input {
	outline: none;
	padding: 2px;
}

input[type=button], input[type=reset], input[type=submit] {
	outline: none;
	padding: 4px 6px;
}

tr, th, td {
	height:120%;
	line-height:120%;
	padding:8px 0;
	_padding:4px 0;
}

.cell {
	display:block;
	width:98%;
	padding:1px;
	overflow:hidden;
}

.clear {
	clear:both;
}

.top_line {
	border:none;
	border-top:1px solid #D0D0D0;
}

.under_line {
	border-bottom:1px solid #D0D0D0;
}

#container {
	margin: 10px;
	padding: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}

#body {
	margin: 6px;
}
